{% extends "base.html.twig" %}
{% block title %}Create Project{% endblock %}

{% block page_header %}Create Project{% endblock %}

{% block body %}

    <form method="post">
        <label for="code">Code</label><br>
        <input type="text" id="code" name="code" required autofocus><br>

        <label for="name">Name</label><br>
        <input type="text" id="name" name="name" required><br>

        <label for="budget">Budget</label><br>
        <input type="number" id="budget" name="budget" required><br>

        <label for="remarks">Remarks</label><br>
        <textarea id="remarks" name="remarks"></textarea><br> 
        
        <button type="submit">Save</button>
    </form>
{% endblock %}