{% extends "base.html.twig" %}
{% block title %}Login{% endblock %}

{% block body %}
    {% if message is defined %}
        <div>{{ message }}</div>
    {% endif %}

    <form method="post">
        <div>
            Username: <input type="text" name="username" required autofocus>
        </div>
        <div>
            Password: <input type="password" name="password">
        </div>
        <button type="submit">Submit</button>
    </form>
{% endblock %}