{% extends "base.html.twig" %}
{% block title %}Login{% endblock %}

{% block body %}
    {% if messages is defined %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        <div>
            Username: <input type="text" name="username" required autofocus>
        </div>
        <div>
            Password: <input type="password" name="password">
        </div>
        <button type="submit">Submit</button>
    </form>
{% endblock %}