.remove_button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

#add_user{
    width: 200px;
}

td {
    padding-right: 100px;
}

#members_box {
    margin-top: 20px;
    padding-left: 30px;
}