<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script src="/assets/js/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        {% if app.request.cookies.has('user_first_name') %}
            <p>
                Welcome {{ app.request.cookies.get('user_first_name') }}! <a href="{{ path("app_logout") }}">Logout</a>
            </p>
        {% endif %}
        <h1> The Projector </h1>

        <h2>{% block page_header %}{% endblock %}</h2>

        <div id="errors">
            {% if errors is defined %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
